In [4]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/content/Covid_19_cases4.csv')

# Display basic information about the dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2730 entries, 0 to 2729
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  2730 non-null   object
 1   day                      2730 non-null   int64
 2   month                    2730 non-null   int64
 3   year                     2730 non-null   int64
 4   cases                    2730 non-null   int64
 5   deaths                   2730 non-null   int64
 6   countriesAndTerritories  2730 non-null   object
dtypes: int64(5), object(2)
memory usage: 149.4+ KB
None

In [5]:
# Display column names and data types
print(data.dtypes)

dateRep                    object
day                         int64
month                       int64
year                        int64
cases                       int64
deaths                      int64
countriesAndTerritories    object
dtype: object

In [3]:
# Display the first few rows of the dataset
print(data.head())

      dateRep  day  month  year  cases  deaths countriesAndTerritories
0  31-05-2021   31      5  2021    366       5                 Austria
1  30-05-2021   30      5  2021    570       6                 Austria
2  29-05-2021   29      5  2021    538      11                 Austria
3  28-05-2021   28      5  2021    639       4                 Austria
4  27-05-2021   27      5  2021    405      19                 Austria

In [7]:
# Check for missing values
print(data.isnull().sum())

# Drop rows with missing values for demonstration (handle as needed)
data.dropna(inplace=True)

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
dtype: int64

In [11]:
print("\nSummary statistics:")
print(data.describe())

Summary statistics:
               day        month    year         cases       deaths
count  2730.000000  2730.000000  2730.0   2730.000000  2730.000000
mean     16.000000     4.010989  2021.0   3661.010989    65.291941
std       8.765919     0.818813     0.0   6490.510073   113.956634
min       1.000000     3.000000  2021.0  -2001.000000    -3.000000
25%       8.000000     3.000000  2021.0    361.250000     2.000000
50%      16.000000     4.000000  2021.0    926.500000    14.500000
75%      24.000000     5.000000  2021.0   3916.250000    72.000000
max      31.000000     5.000000  2021.0  53843.000000   956.000000

In [6]:
# Remove duplicates if any
data.drop_duplicates(inplace=True)

In [ ]:
# Or impute missing values with mean for numerical columns
data.fillna(data.mean(), inplace=True)

In [9]:
output_file_path = '/content/preprocessed_data.csv'
data.to_csv(output_file_path, index=False)

print("Preprocessing completed. Preprocessed data saved to:", output_file_path)

Preprocessing completed. Preprocessed data saved to: /content/preprocessed_data.csv